---
import "../styles/style.css";
/* import Navigation from "../components/Navigation.astro"; */
import Card from "../components/Card.astro";
import Square from "../components/Square.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Populære Kunstnere</h1>
  <div class="card-container">
    <Card
      img="https://picsum.photos/id/65/150/150"
      header="Tobias Rahim"
      text="Kunstner"
    />
    <!--     <Card
      img="https://picsum.photos/id/68/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Card
      img="https://picsum.photos/id/76/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Card
      img="https://picsum.photos/id/240/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Card
      img="https://picsum.photos/id/331/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Card
      img="https://picsum.photos/id/325/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Card
      img="https://picsum.photos/id/334/150/150"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    /> -->
  </div>

  <h1>Populære Albums</h1>
  <div class="card-container">
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
    <Square
      img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
      header="A Little Bit Longer"
      text="Jonas Brothers"
    />
  </div>
</MainLayout>
